.contact-container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
  }
  
  h2 {
    font-weight: bold;
    color:  #1b4332;
  }
  
  p {
    color: #666;
  }
  
  hr {
    width: 100%;
    border: 1px solid #3e6756cb;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    background: rgba(93, 136, 118, 0.164);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .input-container i {
    margin-right: 10px;
    color: #1b43324a;
  }
  
  input, textarea {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
  }
  
  textarea {
    height: 100px;
    resize: none;
    padding: 10px;
  }
  
  .send-btn {
    width: 100%;
    padding: 10px;
    background-color: #1b4332;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .send-btn:hover {
    background-color: #1b43329a;
  }
  